/* Simple CSS reset */
* {
    margin: 0;
    pdding: 0;
    box-sizing: border-box;
}

/* when working with fixed variables try using CSS variables. This is how you can set up CSS variables */
:root {
    /* Setting Primary colors */
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);

    /* Setting Neutral colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* Setting font weights */
    --font-weight-400: 400;
    --font-weight-700: 700;
}

/* start with mobile first */
body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: var(--primary-cream);
}

